.container {
  padding: 20px;
  font-family: "Nunito Sans";
}

.title {
  font-size: 24px;
  font-weight: 900;
}

.segment-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.5);
  width: 20%;
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}

.card-social-image {
  width: 100px;
  border-radius: 50px;
}

.card-social-image:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.card-social-username {
  font-size: 16px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.6);
}

.horizontal-line {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 20px 0px;
}

.segment-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.email {
  flex: 2;
}

.email-title-container {
  display: flex;
  align-items: center;
}

.location {
  flex: 1;
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  padding-left: 20px;
}

.location-title-container {
  display: flex;
  align-items: center;
}

.location-title {
  font-size: 18px;
  font-weight: 600;
}

.location-state {
  font-size: 20px;
  font-weight: 900;
}

.location-uni {
  font-size: 16px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.5);
}

form {
  margin-top: 30px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
.form-group textarea {
  height: 100px;
}
.form-group button {
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  display: block;
  margin: auto;
}
.form-group button:hover {
  background-color: #3498db;
}
