.container {
  font-family: "Nunito Sans";
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.title {
  text-align: center;
  font-size: 60px;
  font-weight: 800;
}

.grid-container {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto;
  gap: 40px;
  padding: 52px;
  width: 1510px;
  height: 682px;
  border-radius: 30px;
  border: 3px solid var(--buttons-primary, #a9d6e5);
  background: linear-gradient(180deg, #a9d6e5 -15.56%, #0c134f 99.97%);
}

.grid-container > .benefit {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.benefit {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 20px;
}

.benefit h1 {
  font-size: 48px;
  font-weight: 700;
}

.benefit p {
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
}

.segment-two {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  border: 3px solid #a9d6e5;
  background: linear-gradient(180deg, #a9d6e5 -12.28%, #0c134f 99.98%);
  padding: 40px;
  width: 1510px;
  color: #fff;
}

.segment-two h1 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.form-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  padding: 0 100px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group label {
  font-size: 28px;
  font-weight: 700;
}

.form-group input {
  height: 60px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

.submit-btn {
  margin: auto;
  margin-top: 30px;
  width: 329px;
  border-radius: 120px;
  padding: 10px 20px;
  background-color: #5c469c;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #5c469c;
}
